.user-container {
  display: flex;
  justify-content: center;
  align-items: center;

  #user-form {
    min-width: 400px;
    max-width: 600px;
    height: auto;
    padding: 2em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    * {
      margin: 5px 0;
    }
  }
}